.titulo-productos {
    color: #20313d;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.categoria-productos {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}
.categoria-productos li {
    font-size: 1.5rem;
    background-color: #20313d;
    color: #4DA07D;
    padding: .5rem 1.5rem;
    border-radius: .7rem ;
}

.categoria-productos li:hover {
    background-color: #4DA07D;
    color: #20313d;
    transition: .5s;
    cursor: pointer;
}
.link-categorias {
    text-decoration: none;
}