.volver-home-btn {
    background-color: #7a7e81;
    color: #d8d8d8;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
}

.volver-home-btn:hover{
    background-color: #d8d8d8;
    color: #7a7e81;
    transition: .5s;
}
.contenedor-btn-volver-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}